[2018-08-31 18:33] mariapaulafn opened #2 "Open Track Bounties"
10 winners will be assigned to this one. Submission guidelines/Judging process coming soon.

[2018-08-31 18:36] mariapaulafn opened #3 "Community Improvement Bounties: Mainnet and Dapp Bug Bounty"
Judging: Via ARAGON SURVEY APP. Judging will be performed by a council, consisting of 6-8 security experts. A new MiniMe token will be created and distributed to council members for voting on the survey.

Participants hunt for exploitable security vulnerabilities on the Ethereum mainnet and in popular Dapps. The goal is to find security bugs before they are exploited by malicious hackers. Vulnerab

[2018-08-31 18:37] mariapaulafn opened #4 "Community Improvement Bounties: Create and Refine Benchmarks for Ethereum Security Tools"
Judging: Via ARAGON SURVEY APP. Judging will be performed by a council, consisting of 6-8 security experts. A new MiniMe token will be created and distributed to council members for voting on the survey.

The[ Ethereum Analyzer Security benchmarks ](https://ethereumanalysisbenchmarks.github.io/)provide a vendor-independent way of measuring the effectiveness of smart contract security tools. The go

[2018-08-31 18:42] mariapaulafn opened #5 "Community Improvement Bounties: Add Test Cases and Documentation to Popular Open Source Crypto Projects"
Judging: Via ARAGON SURVEY APP. Judging will be performed by a council, consisting of 6-8 security experts. A new MiniMe token will be created and distributed to council members for voting on the survey.

As name suggests, many projects could benefit from better documentation (for devs, users and auditors) and moar test cases.

Scope:

- Write-up or improve project specifications
- Write tests tha

[2018-08-31 18:45] mariapaulafn opened #6 "Community Improvement Bounties: Awesomest UX in a project"
Judging: Via ARAGON SURVEY APP. Judging will be performed by a council, consisting of 6-8 security experts. A new MiniMe token will be created and distributed to council members for voting on the survey.

**Preface:**
We are looking for a project that truly moves the needle when it comes to overall User Experience and usability for the eco-system. Working with a nascent technology it is necessary

[2018-09-03 14:49] MareenG opened #7 "Gnosis Prize: Buidl on the DutchX"
Attention developers! Come #BUIDL on the first fully decentralized exchange!

**Preface:**
The DutchX is an open, decentralized trading protocol for ERC20 tokens using the Dutch auction mechanism for determining a fair value for tokens. Coupled with a pure on-chain design, the DutchX doubles a price oracle and is built to enable users, bots, as well as other smart contracts to exchange tokens: no

[2018-09-03 18:25] Smokyish opened #8 "Aragon challenge for Best Aragon Nest proposal"
![ethberlin_option_02_small](https://user-images.githubusercontent.com/21331903/45082235-89d01800-b101-11e8-9ad8-70d27041743d.jpg)

# ETHBerlin: Aragon challenge for Best Aragon Nest proposal

[Aragon](https://aragon.org) is the most powerful and modular way to create and operate Decentralized Autonomous Organizations.

[**Aragon Nest**](https://github.com/aragon/nest) is a grants program to suppo

[2018-09-03 18:32] Smokyish opened #9 "Aragon challenge for Best app or integration - First place"
![ethberlin_option_02_small](https://user-images.githubusercontent.com/21331903/45082273-a1a79c00-b101-11e8-892d-389b0e9801f4.jpg)

# ETHBerlin Aragon challenge for Best app or integration - First place

[Aragon](https://aragon.org) is the most powerful and modular way to create and operate Decentralized Autonomous Organizations.

Given the huge number of possibilities of what DAOs will be able to

[2018-09-03 23:12] nenadjaja opened #10 "The Graph Prize: Build a dApp with The Graph"
# Build a dApp with The Graph

Hello ETH Berlin Hackers! Do you need to get data from the Ethereum blockchain for your web or mobile dApp? Do you love using modern libraries like React and Apollo? Do you like your APIs served via GraphQL endpoints? Try out some new tech at ETH Berlin and use The Graph for a chance to win $3,000!

## Qualification Guidelines
Follow these steps to be eligible for ou

[2018-09-03 23:16] html5cat opened #11 "The Graph Prize: Build a Subgraph"
# Build a Subgraph for your favourite contract

Hello ETH Berlin Hackers! Do you need to get data from the Ethereum blockchain for your web or mobile dApp? Do you like your APIs served via GraphQL endpoints? Build a subgraph for your favourite contract and win $500!

([if you want to build an dApp check out our main prize here](#10 ))

## Qualification Guidelines
Follow these steps to be eligible

[2018-09-04 09:46] Smokyish opened #12 "Aragon challenge for Best app or integration - Runner-up"
![ethberlin_option_02_small](https://user-images.githubusercontent.com/21331903/45082297-b2581200-b101-11e8-8202-a4805e080dfc.jpg)

# ETHBerlin Aragon challenge for Best app or integration - Runner-up

[Aragon](https://aragon.org) is the most powerful and modular way to create and operate Decentralized Autonomous Organizations.

Given the huge number of possibilities of what DAOs will be able to d

[2018-09-04 23:11] ghettodev opened #14 "ETHBerlin MakerDAO challenge: CDP Analytics"
## About MakerDAO
[MakerDAO](https://makerdao.com/) is a decentralized organization dedicated to bringing stability to the crypto economy through Dai, the world's first stablecoin on the Ethereum blockchain. Dai is an asset-backed hard currency that addresses the crypto economy’s problems of volatility with a secure and transparent smart contract platform of permissionless loans.

## Description
I

[2018-09-05 14:52] yann300 opened #15 "[Remix] Solidity Snippet plugin"
## Solidity Snippet
 (subject to change)

 - Funded $500
 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http:

[2018-09-05 14:53] yann300 opened #16 "[Remix] ethpm Plugin"
## ethpm Plugin
 (subject to change)

 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://remix-alpha.ether

[2018-09-05 14:54] yann300 opened #17 "[Remix] Ewasm Plugin"
## Ewasm Plugin
 (subject to change)

 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://remix-alpha.ether

[2018-09-05 14:55] yann300 opened #18 "[Remix] Profiler Plugin (ETHDenver winner)"
## Profiler Plugin
 (subject to change)

 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://remix-alpha.et

[2018-09-05 14:56] yann300 opened #19 "[Remix] Solium Plugin"
## Solium Plugin
 (subject to change)

 - Funded $500
 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://r

[2018-09-05 14:57] yann300 opened #20 "[Remix] Zokrates Plugin"
## Zokrates Plugin
 (subject to change)

 - Funded $500
 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http:/

[2018-09-05 14:58] yann300 opened #21 "[Remix] Embark Plugin"
## Embark Plugin
 (subject to change)

 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://remix-alpha.ethe

[2018-09-05 14:59] yann300 opened #22 "[Remix] Truffle Plugin"
## Truffle Plugin
 (subject to change)

 - Funded $500
 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://

[2018-09-05 14:59] yann300 opened #23 "[Remix] Vyper Plugin"
## Vyper Plugin
 (subject to change)

 - Funded $500
 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://re

[2018-09-05 15:29] yann300 opened #24 "[Remix] ethdoc.io plugin"
## ETHDoc.io
 (subject to change)

 - Funded $500
 - See https://github.com/ethberlin-hackathon/ETHBerlin-Teambuilding/blob/master/RemixHackathon.md for more info about the Remix hackathon. Please be sure to read it before starting.
 - Some infos about Remix: https://remix.readthedocs.io/en/latest/
 - Online version: http://remix.ethereum.org

We've been releasing an API (available in http://remix

[2018-09-05 16:48] ben-kaufman opened #25 "DAOstack Hackers Bounty: Hack the DAO!"
### Description

DAOstack has recently launched on the mainnet its second version of the Genesis DAO - DAOstack's first DAO which is an investment fund for the DAOstack ecosystem.
The Genesis DAO uses Alchemy - DAOstack budgeting and resource management collaborative dapp.
You can take a look at it here: https://alchemy.daostack.io/

The Genesis DAO was not hacked (yet) and we feel it's time to te

[2018-09-05 17:03] ben-kaufman opened #26 "DAOstack Hackers Bounty: Buidl something amazing!"
### Description

The DAOstack platform is a stack built from the best infrastructure and toolset to create Decentralized Autonomous Organizations (DAOs) and Collaborative Dapps.
We believe the potential for DAOs and decentralized collaboration, in general, will be one the backbone for countless developments in the way people work and collaborate.
We're thrilled to announce this bounty for the team

[2018-09-05 17:09] ben-kaufman opened #27 "DAOstack Hackers Bounty: Buidl a DAICO"
### Description

[DAICO](https://ethresear.ch/t/explanation-of-daicos/465) is a relatively new concept for more responsible ICO funds management.
The idea is to give the ICO investors more control over the funds raised by allowing them to:

1. Set a monthly budget for the ICO team.
2. Stop the project and redeem their tokens with the equivalent share of the funds left.

We are offering a bounty fo

[2018-09-05 17:13] ben-kaufman opened #28 "DAOstack Hackers Bounty: Alchemy Twitter Integration"
### Description

Alchemy is DAOstack's collaborative dapp for budget management DAOs.
Alchemy allows DAO participants to propose, vote and execute proposals as well as utilize the Holographic Consensus mechanism of staking GEN tokens and focus the collective attention. You can see how the Genesis DAO works with Alchemy at https://alchemy.daostack.io.
This bounty is offered for integrating Twitter

[2018-09-05 20:35] StevenJNPearce commented on #14
@ghettodev  What is the timeframe on this challenge? i.e. when will you pick the winner?

[2018-09-06 09:55] MareenG opened #29 "ETHBerlin Community prize"
Previous Hackathons have showed that people’s favourite teams were not always among the actual winners. At ETHBerlin, we would like to give those projects a chance by rewarding the people’s favorite team with a community prize of 1.000€.

During ETHBerlin, we will run an [Olympia](https://blog.gnosis.pm/announcing-gnosis-olympia-5fb7e16dd259) prediction market tournament. You will be able to make

[2018-09-06 12:20] RaffiSapire opened #30 "Livepeer: Build a Video DApp - First Place"
Hi EthBerlin hackers! Livepeer is making video possible in the web3 stack. Because it is peer to peer and decentralized, it’s the infrastructure solution for developers who want to build a video application in the web3 stack.

## If You’re a Web Developer, Two Ways to Hack on Livepeer this Weekend ##

**Create a Video DApp using Livepeer**

- [Start here](https://github.com/livepeer/Broadcaster-Ch

[2018-09-06 12:23] RaffiSapire opened #31 "Livepeer: Build a Video DApp - Second Place"
Hi EthBerlin hackers! Livepeer is making video possible in the web3 stack. Because it is peer to peer and decentralized, it’s the infrastructure solution for developers who want to build a video application in the web3 stack.

## If You’re a Web Developer, Two Ways to Hack on Livepeer this Weekend ##

**Create a Video DApp using Livepeer**

- [Start here](https://github.com/livepeer/Broadcaster-Ch

[2018-09-06 12:52] andytudhope opened #32 "Status: Best use of Embark (technical)"
## Embark: A Framework For Developing Properly Decentralized Applications

This issue is a placeholder for the award of the best technical use of [Embark](https://embark.status.im) during ETHBerlin.

`Technical use` will encompass safe, secure and optimised smart contracts, a full test suite with 100% coverage, interesting and novel uses of `EmbarkJS` with respect to the unique decentralised stora

[2018-09-06 12:55] andytudhope opened #33 "Status: Most Innovative Use of Embark"
## Embark: A Framework For Developing Properly Decentralized Applications

This issue is a placeholder for the award of the most innovative use of [Embark](https://embark.status.im) during ETHBerlin.

`Innovative use` focusses specifically on using the more advanced plugins, storage and communication features that are unique to Embark. Here, we are not looking for the best technical implementation

[2018-09-06 13:11] andytudhope opened #34 "Status: Most interesting and extensible use of our JS API and the new web3 opt-in patterns (EIP 1102)"
## Status

This issue is a placeholder for the award of the most interesting and extensible use of our JS API and [the new web3 opt-in patterns](https://our.status.im/breaking-change-to-the-status-browser/) during ETHBerlin.

There have been some privacy concerns around injecting a web3 provider with information about your account (and therefore your balance and tx history) into every web page you

[2018-09-06 14:11] StatusSceptre commented on #33
The bounty amount in SNT was set at 16:00 on 06/09/2018 - 1 day before ETHBerlin to try and account as best as we currently can for volatility.

[2018-09-06 14:11] StatusSceptre commented on #32
The bounty amount in SNT was set at 16:00 on 06/09/2018 - 1 day before ETHBerlin to try and account as best as we currently can for volatility.

[2018-09-06 14:13] StatusSceptre commented on #34
The bounty amount in SNT was set at 16:00 on 06/09/2018 - 1 day before ETHBerlin to try and account as best as we currently can for volatility.

[2018-09-06 22:34] gichiba opened #35 "[Colony] Integrations prize #1: 15,000 CLNY ($2.5k in public sale)"
# Build with Colony
The colonyNetwork provides a standard framework for the creation of decentralized organizations. Using [colonyJS](https://github.com/JoinColony/colonyJS), it's easy to integrate the colonyNetwork with any dApp to leverage a secure layer of task management, funding, and reputation.

## Integrations Bounty
Projects that utilize the colonyNetwork / colonyJS framework within a dApp

[2018-09-06 22:38] gichiba opened #36 "[Colony] Integrations prize #1: 10,000 CLNY ($1.5k in public sale)"
# Build with Colony
The colonyNetwork provides a standard framework for the creation of decentralized organizations. Using [colonyJS](https://github.com/JoinColony/colonyJS), it's easy to integrate the colonyNetwork with any dApp to leverage a secure layer of task management, funding, and reputation.

## Integrations Bounty
Projects that utilize the colonyNetwork / colonyJS framework within a dApp

[2018-09-06 22:40] gichiba opened #37 "[Colony] Integrations prize #3: 5,000 CLNY ($800 in public sale)"
# Build with Colony
The colonyNetwork provides a standard framework for the creation of decentralized organizations. Using [colonyJS](https://github.com/JoinColony/colonyJS), it's easy to integrate the colonyNetwork with any dApp to leverage a secure layer of task management, funding, and reputation.

## Integrations Bounty
Projects that utilize the colonyNetwork / colonyJS framework within a dApp

[2018-09-07 21:16] ghettodev opened #38 "ETHBerlin MakerDAO challenge: Growth Hack or Dai"
## About MakerDAO
[MakerDAO](https://makerdao.com/) is a decentralized organization dedicated to bringing stability to the crypto economy through Dai, the world's first stablecoin on the Ethereum blockchain. Dai is an asset-backed hard currency that addresses the crypto economy’s problems of volatility with a secure and transparent smart contract platform of permissionless loans.

## Description
W

[2018-09-07 21:32] EdsonAlcala commented on #18
I'm going to be working on this, please reach me out if you are interested? Telegram @edsonalcala

[2018-09-08 11:05] ayobuenavista opened #39 "Kyber Network Integration Bounty: Prize of 3000 USD in KNC"
# Build with Kyber Network's Liquidity Protocol

[Kyber](https://kyber.network/) is building the decentralized liquidity protocol that allows open contribution of liquidity from token holders. Our Developer Platform enables a whole new class of decentralized applications, including payments in multiple tokens.

https://developer.kyber.network/docs/VendorsUseCase
https://developer.kyber.network/doc

[2018-09-08 13:23] casparschwa commented on #39
Closing this issue because this sponsor prize is not part of the official ETHBerlin track.

[2018-09-08 13:23] #39 closed, assigned to nobody

[2018-09-08 13:53] ghettodev opened #40 "ETHBerlin MakerDAO Challenge: Dai Dappy Hour"
## About MakerDAO
[MakerDAO](https://makerdao.com/) is a decentralized organization dedicated to bringing stability to the crypto economy through Dai, the world's first stablecoin on the Ethereum blockchain. Dai is an asset-backed hard currency that addresses the crypto economy’s problems of volatility with a secure and transparent smart contract platform of permissionless loans.

## Description
S

[2018-09-08 22:28] Ndife commented on #40
Done.
Order #820839097.

[2018-09-08 22:52] Ndife commented on #40
Address: 0xab34b278652b6f02a68305780f9c4a143ac0b01a

[2018-09-08 22:53] mariapaulafn commented on #40
@ghettodev this should go on Bounties network :)

[2018-09-09 07:00] Smokyish commented on #8
Bounty has been funded as defined in the issue

The price at the time being $0.773/ANT the bounty has a **total of 646.83 ANT**.

[2018-09-09 08:00] iainnash commented on #11
Hi! We've built a subgraph for our hackathon project Artonomous, which can be found at https://github.com/artonomous/ethberlin/tree/master/artnonmous-subgraph

[2018-09-09 08:12] Smokyish commented on #9
Bounty has been funded as defined in the issue

The price at the time being $0.773/ANT the bounty has a **total of 3880.98 ANT**.

[2018-09-09 08:29] Smokyish commented on #12
Bounty has been funded as defined in the issue

The price at the time being $0.773/ANT the bounty has a **total of 2587.32 ANT**.

[2018-09-09 08:41] louismerlin commented on #35
Our project uses colony extensively :grin:

Check it out : [opentimes](https://github.com/GaspardPeduzzi/opentimes)

[2018-09-09 09:32] bohendo commented on #26
Submission: https://github.com/bohendo/debtor-dao

[2018-09-09 09:42] TimDaub commented on #6
Here is a YT video: https://www.youtube.com/watch?v=hjlOcB3_g3k

[2018-09-09 10:02] RaffiSapire commented on #30
@kpulkit29 this is for ethberlin hackers

[2018-09-09 10:10] calchulus commented on #40
Done: order #820980327
0xfaf95953a36ed1e8f8426ab5b7eb53da246e3476

[2018-09-09 10:23] timbeiko commented on #40
Done! 0x10F5d45854e038071485AC9e402308cF80D2d2fE

[2018-09-09 10:23] ObsidianEagle commented on #35
Due to coming up with this late last night, I didn't get anywhere close to implementing it other than setting up colony starter. But I do plan to try and actually make it a thing soon, so I'll leave it here in case anyone wants to take a look.

https://github.com/ObsidianEagle/translator-colony

[2018-09-09 10:24] hellwolf commented on #6
https://devpost.com/software/hermes-network

"Decentralized Ether-less transactions executor system & Layer 2 mining"

- Improve ux by allowing users to have multiple personal devices, which owns different wallets of 0 ethers.
  - By implementing using a decentralized relay network, the ux improvements can be achieved with less centralized services.

[2018-09-09 10:32] wip-abramson commented on #10
Ambitios submission: https://github.com/JohannesHa/meet-up (We tried our best!)

[2018-09-09 10:33] wip-abramson commented on #11
Submission: https://github.com/JohannesHa/meet-up

[2018-09-09 12:35] owocki commented on #8
@Smokyish looking into this now.  would you mind sending me the txids of your crowdfund contribution?  thanks!

[2018-09-09 14:48] rpavlovs commented on #5
Оur project and it’s documentation will be used as example and template for community project https://guidelines.secureth.org/

[2018-09-09 15:07] ben-kaufman commented on #26
Hey everyone, thank you all for the great work!
It is currently the "Rosh Hashana" holiday for most of our dev team but we'll finish reviewing the submissions and give the bounties by the end of the week.

Thanks everyone for participating!

[2018-09-09 22:03] louismerlin commented on #3
Hi ! While building [opentimes](https://github.com/GaspardPeduzzi/opentimes) we discovered bugs on ColonyJS from colony.io.

These bugs were quickly fixed by the main dev team.

I think I did what needed to be done on gitcoin to claim the reward for my team ?

[2018-09-10 10:27] kpulkit29 commented on #30
if I am not a part of ETHBerlin does it mean I can't contribute??

[2018-09-10 11:37] RaffiSapire commented on #30
You can contribute of course, but this prize ease specific to the
hackathon. You can do it anyways and share what you accomplished for a
community grant (not that amount, depends on what you build) or you can
check out our issues in our repos and pick something up there

Raffi
On Mon, Sep 10, 2018 at 5:27 PM pulkit <notifications@github.com> wrote:

[2018-09-10 14:27] mariapaulafn commented on #3
Yes, you need to submit, then we only need to accept it to fund it, but it will be awarded @louismerlin

[2018-09-10 15:55] yann300 commented on #19
@subramanianv please contact @duaraghav8, he can provide a browserified version of solium or tell you how to build one.

[2018-09-11 06:39] subramanianv commented on #19
@yann300 I reached out to solium. They dont have a browserified version of solium yet. So in the meanwhile I'll go through the code and work on other parts for this issue till solium is ready

[2018-09-12 01:35] iamonuwa commented on #9
@Smokyish is this bounty still open? Can I participate even remotely?

[2018-09-12 09:23] #8 closed, assigned to nobody

[2018-09-12 09:27] Smokyish commented on #9
@iamonuwa Hi, this bounty was only available for the hackers at ETHBerlin, but there will be other opportunities at hackathons for similar bounties.

Feel free to check out the [Aragon Apps](https://github.com/aragon/aragon-apps) repo, and if you have a good idea, feel free to discuss there or at the [#dev channel at Aragon Chat](https://aragon.chat/channel/dev) about your idea, we can consider do

[2018-09-12 09:27] #9 closed

[2018-09-12 09:27] #12 closed

[2018-09-12 11:05] subramanianv commented on #19
@yann300 I am trying to install remix-plugin through npm. Its says not found ```npm install --save remix-plugin``` is the command I ran

[2018-09-12 11:13] yann300 commented on #19
it is not published. You need to clone https://github.com/yann300/remix-plugin

[2018-09-13 20:03] #40 closed, assigned to nobody

[2018-09-13 20:03] #38 closed, assigned to nobody

[2018-09-14 16:58] rpavlovs commented on #5
@mariapaulafn how exactly does the judging work for this one? Did the vote happen already?

[2018-09-14 20:17] vs77bb commented on #17
Hi @oogetyboogety how is this one going on your side? WIP PR would be helpful to assess progress 🙂

[2018-09-17 12:16] subramanianv commented on #19
I am waiting on the browserified version of solium. Will continue once thats ready.

[2018-09-17 16:37] lyricalpolymath commented on #6
~~@mariapaulafn @MareenG We've noticed that the repo that @amy-jung linked was the old empty one... we later renamed the organisation to All-Aboard.~~
~~so her submission should be [https://github.com/All-Aboard/backend](https://github.com/All-Aboard/backend)~~

~~but we submitted with our Devpost link [https://devpost.com/software/enter-crypto](https://devpost.com/software/enter-crypto)
as it app

[2018-09-18 06:27] oogetyboogety commented on #17
Hey @vs77bb pretty much finished with this one. Made changes to three repositories:
https://github.com/oogetyboogety/ewasm-studio-remix
https://github.com/ethereum/remix-ide/pull/1524 (depends on branch here: https://github.com/ethereum/remix-ide/pull/1521)
https://github.com/ethereum/remix/pull/973

Will be assessing the changes with @yann300  now

[2018-09-18 09:22] yann300 commented on #20
Feel free to join https://gitter.im/ethereum/remix-dev and https://gitter.im/ethereum/remix-dev-plugin , we can have a chat there.
Also @Schaeff member of Zokrates team can certainly help on this.

[2018-09-18 23:01] vs77bb commented on #17
Thanks for the update!

[2018-09-19 00:32] oogetyboogety commented on #17
@yann300 @vs77bb
Final plugin here:
https://github.com/oogetyboogety/ewasm-studio-remix
Remember to:
1. clone remix-ide and checkout #1534 https://github.com/ethereum/remix-ide/pull/1534
2. clone remix, checkout #985 https://github.com/ethereum/remix/pull/985,
3. in remix/remix-lib `npm install`, `npm link`, then `npm link remix-lib` in /remix-ide
4. in remix/remix-solidity, `npm install`, `npm li

[2018-09-20 11:24] louismerlin commented on #3
I thought I had submited work to this project, but something probably did not work :/

Is there any way to reactivate this bounty ? Or to get the funds otherwise ?

Thanks a lot

[2018-09-22 16:06] samparsky commented on #16
@yann300 is this still open?

[2018-09-23 15:43] yann300 commented on #16
it is, please join https://gitter.im/ethereum/remix-dev-plugin and read carefully https://github.com/ethberlin-hackathon/ETHBerlin-KnowledgeBase/blob/master/resources/remix.md .
you can also pm me (yann300) on gitter

[2018-09-24 01:55] spm32 commented on #17
@oogetyboogety just sent payment but as discussed please make sure to promptly reply to @yann300 if other changes are required.

[2018-09-24 19:46] louismerlin commented on #3
Is there any way we can still claim this ?

Thanks :smile:

[2018-09-25 03:31] vs77bb commented on #22
@jalextowle - sorry about Gitcoin Bot's early prod - you've been approved to give this a go! Are you still interested / able to submit a WIP PR in the next few days?

[2018-09-25 18:11] jalextowle commented on #22
Hello,

I am still interested. I have been a bit under the weather, but I'll be
back to working on the issue today. I can submit a WIP PR today or
tomorrow.

Best,
Alex Towle

On Mon, Sep 24, 2018 at 10:31 PM Vivek Singh <notifications@github.com>
wrote:

[2018-09-26 18:39] spm32 commented on #15
Great job @pvienhage!

[2018-09-28 17:25] jalextowle commented on #22
I am getting extremely close to a finished product. I will push the latest later today after a bit of polishing. I think it should be good to go very soon.

[2018-10-01 19:09] yann300 commented on #19
@subramanianv this PR provides browser support for solium:
https://github.com/duaraghav8/Solium/pull/241

[2018-10-02 02:22] nrryuya commented on #23
Working on this issue here https://github.com/LayerXcom/vyper-remix

[2018-10-02 13:21] subramanianv commented on #19
@yann300 Thanks. I am starting work on this

[2018-10-02 13:34] yann300 commented on #19
that has been merged here https://github.com/duaraghav8/Solium/tree/browserify , `npm run browserify` for generating the bundle.js

[2018-10-02 15:56] subramanianv commented on #19
@yann300 I get this error when running `npm run browserify`
Is there a package missing ?
`ReferenceError: Unknown plugin "fast-async" specified in "base" at 0, attempted to resolve relative to "/Users/subramanianvenkatesan/Solium/lib" while parsing file: /Users/subramanianvenkatesan/Solium/lib/lib.js
    at /Users/subramanianvenkatesan/Solium/node_modules/babel-core/lib/transformation/file/options

[2018-10-02 16:19] yann300 commented on #19
will push a PR.
please try addin `"fast-async": "6.3.1",` to the `devDependencies`

[2018-10-02 16:21] yann300 commented on #19
@subramanianv let me know if that is working

[2018-10-02 17:31] subramanianv commented on #19
@yann300 Works now. Thanks :)

On Tue, Oct 2, 2018 at 9:51 PM yann300 <notifications@github.com> wrote:

--
Thanks,
Subramanian Venkatesan.

[2018-10-03 14:44] subramanianv commented on #19
@yann300 I am trying to import the build file
`var Solium = require('./build/solium-browser-bundle.js')`

I get the following error
`Cannot find module './decode' from '/Users/subramanianvenkatesan/Solium/build'
    at /Users/subramanianvenkatesan/.nvm/versions/node/v8.11.3/lib/node_modules/browserify/node_modules/browser-resolve/node_modules/resolve/lib/async.js:55:21
    at load (/Users/subraman

[2018-10-03 15:06] yann300 commented on #19
`solium-browser-bundle.js` can't be loaded using require I think. (but can direclty be used in a script tag `<script></script>`

[2018-10-03 15:07] yann300 commented on #19
if you want to import in your project like this, we might just do `require('<soliumpath>/lib/lib.js')`

[2018-10-03 15:12] subramanianv commented on #19
Ah ok. I got it. Now importing the build on the html page through a script tag.

[2018-10-03 15:13] yann300 commented on #19
then you can access it with `window.solium`
see https://github.com/duaraghav8/Solium/blob/browserify/lib/lib.js for the interface

[2018-10-05 08:09] jalextowle commented on #22
I am still working with @yann300 to implement the final feature for this plugin (the ability to upload a truffle environment to the remix browser). My most recent pushes to the https://github.com/jalextowle/remixd and https://github.com/jalextowle/remix-plugin repositories include a version of this plugin that should work once the correct API is released for adding and removing providers to Remix.

[2018-10-06 20:29] subramanianv commented on #19
@yann300 I am trying to use the remix's hightlight api.

`window.parent.postMessage(JSON.stringify({
    action: 'request',
    key: 'editor',
    type: 'hightlight',
    value: [{line:1,column:1}, filename, '#FF9F33'],
    id: _9
 }),'*')`

I get back `Unexpected token o in JSON at position 1`
The JSON seems to be well formed though. Can you paste an example of how to use the hightlight api ?

[2018-10-08 08:20] yann300 commented on #19
try something like  `{"start": { "line": 5, "column": 5 }, "end": { "line": 6, "column": 5 }}`

[2018-10-08 08:22] yann300 commented on #19
perhaps would be more convenient to use the remix-api.js lib from https://github.com/yann300/remix-plugin/tree/master/src instead of using `postMessage` directly

[2018-10-08 08:24] subramanianv commented on #19
@yann300  I made a basic version of the plugin.
http://industrious-bomb.surge.sh/
Use it on a non-https version of remix.
Let me know what you think.

[2018-10-08 08:34] yann300 commented on #19
that looks nice ;)
would it be possible to :
1) add a lintAndFix button
2) put the configuration file in the `config` explorer (for that you can easily use `setConfig`, `getConfig`. Basically the plugin automatically add the file if not present.

[2018-10-08 13:17] subramanianv commented on #19
Is `Solium.lintAndFix` function exposed in the browser version of Solium ? I get `Solium.lintAndFix is not a function`

[2018-10-08 13:32] yann300 commented on #19
see in https://github.com/duaraghav8/Solium/blob/browserify/lib/lib.js
you can specify autoFix in the config or directly as a param

[2018-10-11 21:39] jalextowle commented on #22
I'm still working on this. I am just waiting on @yann300 to get back to me to figure out what else I need to do for this bounty.

[2018-10-18 15:39] ceresstation commented on #17
Hey @oogetyboogety how are things going here?

[2018-10-22 05:40] oogetyboogety commented on #17
@yann300 Fixed the two buttons by merging them into one Compile button as recommended. I updated the instructions to just point to the Remix Alpha now that that branch was merged. Please let me know if you see anything else!

Thanks!

[2018-10-23 21:41] frankchen07 commented on #20
@yann300 - this issue is currently expired on Gitcoin; do you want this issue to be reopened or cancelled?

[2018-11-08 04:56] rmshea commented on #22
Hey @jalextowle, Ryan from Gitcoin here. How is this coming along? Can I be of any assistance moving this along? 🔢 🌮

[2018-11-08 05:37] jalextowle commented on #22
I’ve been really busy at work these past few weeks. I just need to devote a
few hours to finishing it up, which I should be able to do this weekend.

On Wed, Nov 7, 2018 at 10:56 PM Ryan Shea <notifications@github.com> wrote:

[2018-11-10 20:15] spm32 commented on #17
Hey @yann300 just wanted to check in on this, does everything look good on your end? @oogetyboogety can you formally submit work as well so that I can pay you out?

[2018-11-13 19:24] mariapaulafn opened #47 "Create Shatner Digital art and submit it to Superrare - NOT A HACKATHON BOUNTY / ONLY SHATNERHODL"
50 usd for the prettiest of them all.

[2018-11-14 02:04] spm32 commented on #16
Hey @samparsky are you still interested in working on this?

[2018-11-14 02:05] spm32 commented on #22
Hey @jalextowle how did everything go over the weekend?

[2018-11-15 13:31] ceresstation commented on #17
Going to pay you out on this one @oogetyboogety but please respond promptly to @yann300 if he has any other suggestions :)

[2018-11-16 15:59] bockp commented on #47
hmmm... didn't think about the citation feature on github, that ain't me XP
I was talking about my SuperRare username hehe

[2018-11-16 16:48] bockp commented on #47
Would this suit your tastes ?
https://cdn.steemitimages.com/DQmaj4amga5WP28k1JB13EMKMZv8CucGwAhBwyNK9sbmxeB/ShatnerArt.gif

I personally think it needs a little more work, maybe some more Star Trek symbolism strewn through it. or maybe just an orbiting spaceship XD

[2018-11-16 16:50] bockp commented on #47
This one is what it's based on for now. gotta rework it a bit though. this actually looks better as is than the spinning globe.

![image](https://user-images.githubusercontent.com/10536344/48635322-1d5a7a80-e9c8-11e8-8e66-e25863de353a.png)

[2018-11-16 22:45] pbock commented on #47
Good luck from @pbock, @bockp!

[2018-11-19 22:43] jalextowle commented on #22
Sorry for the late response. I wrapped a couple of things up. I'm going to spend some time today too. I've been communicating with yann through Gitter

[2018-11-20 16:17] mariapaulafn commented on #47
Hey @bockp  ! needs more shatner :) but looking great!

[2018-11-20 16:18] mariapaulafn commented on #47
You are awesome too @pbock

[2018-11-20 23:03] hatgit commented on #47
Just submitted the art to SuperRare as an animated GIF titled: "To Boldly Go Where No Crypto Has Gone Before."

[2018-11-21 09:35] spm32 commented on #22
Thanks for the update @jalextowle, appreciate it!

[2018-11-21 10:38] #19 closed

[2018-11-21 10:38] #15 closed

[2018-11-21 10:38] #23 closed

[2018-11-21 10:38] yann300 commented on #24
done by @GrandSchtroumpf

[2018-11-21 10:38] #24 closed

[2018-11-21 15:49] bockp commented on #47
I went with a completely different aesthetic in the end, going with the idea of what would have happened if Kirk had joined the Q Continuum XD

Was a bit annoying having to find an image of Shatner in the public domain that would work with my idea though XP

[2018-11-21 16:13] bockp commented on #47
PR link above is just a link to my tweet about the artwork after I submitted it on SuperRare.

Here's the link to it : https://superrare.co/artwork/kirk-joins-the-q-continuum-1025

And here it is, followed by a version where I used a photo I liked much better, but which is still under copyright as far as I can tell:

![shatnerqdeep2](https://user-images.githubusercontent.com/10536344/48853781-8c61

[2018-11-21 16:18] bockp commented on #47
here*s a few "alternatives", just for fun:

![image](https://user-images.githubusercontent.com/10536344/48854127-66884100-edb1-11e8-8faa-260abbfa68d7.png)

Flower power !
![image](https://user-images.githubusercontent.com/10536344/48854140-70aa3f80-edb1-11e8-99fd-2f0366b0e011.png)

low resolution colors
![image](https://user-images.githubusercontent.com/10536344/48854174-8455a600-edb1-11e8-8a55-4b

[2018-11-21 16:19] bockp commented on #47
These were all made using www.deepdreamgenerator.com and a couple of filters in GIMP, as well as a background made using www.Weavesilk.com

[2018-11-22 17:52] samparsky commented on #16
@ceresstation Yes I have applied on gitcoin

[2018-11-22 17:57] yann300 commented on #16
@samparsky please go to https://gitter.im/ethereum/remix-dev-plugin if you need more infos about how to use the API

[2018-11-22 18:04] yann300 commented on #16
@samparsky i am not exactly sure which implementation you should use...
perhaps https://github.com/ethpm/ethpm.js

[2018-11-22 18:19] samparsky commented on #16
@yann300 https://github.com/ethpm/ethpm.js Seems not production ready yet

[2018-11-24 15:02] mariapaulafn commented on #47
These are spectacular @bockp
@hatgit would you mind sharing the link?

[2018-11-24 15:23] mariapaulafn commented on #47
@ceresstation please hold till i find @hatgit's submission to issue the bounty

[2018-11-24 15:24] bockp commented on #47
Thanks :)
If you want, I can upload some of the alternatives to SuperRare too.

I haven't seen @hatgit's work available on the site yet, so he might be a first-time user.

The SuperRare team manually vets each new artist, so it might take some time. A friend of mine has been in the pipeline for the last month I think.

Reminds me I got to contact the Team and ask how it's going to approve his artw

[2018-11-24 15:26] bockp commented on #47
@hatgit, has your work been approved for the platform yet ? if you contact the SuperRare team directly on twitter they might approve it faster, so we can do some judging ;)
Can't wait to see what you thought up !

[2018-11-24 18:24] hatgit commented on #47
Hi @bockp, thanks for the reply, I had submitted the first piece before creating an account on SuperRare, and then resubmitted revised versions. Pure coincidence, I had also used the same image as you did of Shatner! I didn't want to upload any here as I thought that could violate any conditions that the art can't be available anywhere else, as per SuperRare (not sure?). But in good spirit to your

[2018-11-24 19:03] bockp commented on #47
Oh don't worry about that. the image CAN be available elsewhere, just not for sale or used commercially. the point is that the token proves ownership, even if people can just copy.

I make it pretty clear all mine are released under Creative Commons, given that's the restrictions on the Weavesilk site I use (any derivative works released under CC-BY, attributing Weavesilk) as well as any graphical

[2018-11-24 19:03] bockp commented on #47
Also, @hatgit that looks awesome !

[2018-11-26 05:55] spm32 commented on #18
Hey @EdsonAlcala did you end up putting some work towards this, are you still interested in doing it?

[2018-11-27 14:02] bockp commented on #47
Sooo... clicking the wrong link got me to the ethberlin github issue, which talked about these being issues where participation required physical presence.

Leaving aside how strange that is (if it's private issues only meant for ethberlin confeerence goers, they should be indicated as such and not published on a global platform where anyone can participate. Just seems like a strange idea, an inte

[2018-11-27 15:30] mariapaulafn commented on #47
Hi there! ETHBerlin is only the repo I use for bountying. This bounty is still valid and you submitted right. I’m only on a short holiday away from my laptop and i need metamask to approve the tx! No worries at all, i just need to get back to the keyboard and approve

[2018-11-27 15:40] bockp commented on #47
Ok, was just curious about it.

Enjoy your holiday !

[2018-11-27 15:53] #29 closed

[2018-11-27 15:53] #6 closed

[2018-11-27 15:54] #2 closed

[2018-11-27 15:55] mariapaulafn commented on #47
@ceresstation please approve @bockp's submission for the bounty.

[2018-11-28 06:32] spm32 commented on #20
You're good to go @josefj let us know if you have any questions!

[2018-11-28 07:47] bockp commented on #47
@hatgit A friend recently asked me for more details about the rights associated with tokenization, and I reread the Terms Of Service for SuperRare/

It turns out you still keep ALL the rights associated with your art, including commercial, even after you've uploaded.

Of course, it'd be considered very rude if you re-uploaded the exact same piece on another Cryptoart platform using token associati

[2018-12-05 21:13] bockp commented on #47
"Kirk Joins the Q Continuum" just sold for 0.5 Eth over one SuperRare, so if you guys want to own it you'll have to negotiate with the [new owner](https://superrare.co/scheelmatt) XP

[2018-12-10 01:56] rmshea commented on #22
Hey @jalextowle, has anything changed? Let me know 😄

[2018-12-17 19:15] jalextowle commented on #22
I believe that things are finished for this bounty. The plugin's code is in the repo at https://github.com/jalextowle/remix-plugin. Additionally, the repository https://github.com/jalextowle/remixd has some relevant changes that will be required if the plugin is to be used.

[2018-12-22 23:49] bockp commented on #47
@ceresstation  howdy, how goes it ?
Forgot about me ?
@hatgit you manage to get one of your works approved on the platform yet ? if not try hitting them up on twitter, to make sure they didn't pass over your submission by accident !

[2018-12-23 14:11] spm32 commented on #47
Hey sorry about that @bockp! Looks like I did lose track of this one, thanks for following up, approving your submission now :)

[2018-12-26 14:55] EdsonAlcala commented on #18
hello, sorry ! I did some work, do you want to work on this? I can share with you what I did

[2019-01-02 12:56] #47 closed, assigned to nobody

[2019-01-15 02:57] rmshea commented on #22
@ceresstation looks like this one is ready to be reviewed!

[2019-01-21 18:19] spm32 commented on #22
Hey @yann300 let me know what you think! If it looks good to you I'll pay this out.

[2019-01-26 10:00] nourharidy commented on #20
Any update on this?

[2019-01-28 15:40] JosefJ commented on #20
https://github.com/JosefJ/ZoKratesPlugin

although it's far from being compiled to WASM

[2019-01-30 03:00] rmshea commented on #22
hey @yann300 , have you had a chance to check this out?

[2019-02-15 08:54] yann300 commented on #22
@ceresstation @ryan-shea @jalextowle
just looked at it, that's approved on my side ;)

[2019-02-15 08:54] #22 closed

[2019-02-28 21:55] jalextowle commented on #22
@ryan-shea Can you release this bounty? I submitted this a while ago

[2019-05-31 10:19] PixelantDesign commented on #20
@yann300 is this issue still active?

@JosefJ are you still working on this?

[2019-09-18 16:25] marcusrbrown commented on #16
Hi, if this plugin still desired, I'd like to give it a shot.

[2019-10-11 03:12] marcusrbrown commented on #16
It looks like an official ethPM plugin for Remix IDE exists:
- https://docs.ethpm.com/ethpm-developer-guide/ethpm-and-remix-ide
- https://github.com/ethpm/remix-plugin

Going to stop work on this one. Any other issues on Remix that would make good bounties?

[2020-02-01 16:37] xiaods commented on #16
this bounty should be close.

/close

[2020-03-31 11:36] xiaods commented on #20
it seems out of date bounty, please close it.

[2020-04-01 16:26] xiaods commented on #20
@yann300 close it?

[2020-04-01 19:10] #20 closed